.player-music {
	background-color: #0f172a !important;
	height: 6rem;
}
.rhap_time,
.rhap_current-time {
	color: white !important;
}

::selection {
	background-color: transparent;
	color: turquoise;
}
/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.shuffleInactive {
	position: relative;
	transition: all 0.2s linear;
}

.shuffleInactive::before {
	content: "";
	position: absolute;
	top: 1px;
	left: 0;
	width: 150%;
	height: 3px;
	background: linear-gradient(
		to top,
		rgba(134, 134, 134, 1) 50%,
		#0f172ac2 50%
	);
	transform: rotate(45deg);
	transform-origin: left;
}
